<span class="user-amount">Käyttäjiä: {{signalRService.connectionAmount}}</span>
<span class="refresher">{{refresher}}</span>

<div id="play-area">
  <div *ngFor="let player of signalRService.players">
    <div class="player" [ngStyle]="
      {
        'margin-top.px': player.positionY*10,
        'margin-left.px': player.positionX*10,
        'background': player.hitPoints > 0 ? player.playerColor : '#333',
        'border': '1px solid ' + player.playerColor,
        'width.px': player.sizeX*10,
        'height.px': player.sizeY*10
      }">
      <span>{{player.playerName}}</span>
      <br>
      <span>{{player.hitPoints}}</span>
    </div>
  </div>
  <div *ngFor="let fireball of signalRService.fireballs">
      <div class="fireball" [ngStyle]="
        {
          'margin-top.px': fireball.positionY*10,
          'margin-left.px': fireball.positionX*10,
          'width.px': fireball.sizeX*10,
          'height.px': fireball.sizeY*10
        }">
        <span>O</span>
      </div>
    </div>
</div>
<div id="button-container">
  <button class="movement-button" (click)="move(player, getDirectionInTemplate('Up'), emptyFunction)">↑</button>
  <br/>
  <button class="movement-button" (click)="move(player, getDirectionInTemplate('Left'), emptyFunction)">←</button>
  <button class="movement-button" (click)="move(player, getDirectionInTemplate('Right'), emptyFunction)">→</button>
  <br/>
  <button class="movement-button" (click)="move(player, getDirectionInTemplate('Down'), emptyFunction)">↓</button>
  <br/>
  <br/>
  <button class="movement-button" (click)="cast()">Cast</button>
  <div class="hit-points-indicator"><span [ngStyle]="
    {
      'background-color': player.playerColor
    }">Your hit points:</span><strong> {{player.hitPoints}} <span *ngIf="player.hitPoints <= 0">You're dead!</span></strong></div>
</div>

