<span class="user-amount">Number of players: {{signalRService.connectionAmount}}</span>
<span class="refresher">{{refresher}}</span>

<div id="play-area" (keydown)="onKeyDown($event)" [ngStyle]="
  {
    'width.px': constants.PLAY_AREA_SIZE_X * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'height.px': constants.PLAY_AREA_SIZE_Y * constants.POSITION_TO_DISPLAY_MULTIPLAYER
  }">
  <div *ngFor="let player of signalRService.players">
    <div class="player" [ngClass]="(signalRService.tagPlayerId && signalRService.tagPlayerId === player.id) ? 'player-is-tag' : ''" [ngStyle]="
      {
        'margin-top.px': player.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': player.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'background': player.hitPoints > 0 ? player.playerColor : '#333',
        'border': '1px solid ' + player.playerColor,
        'width.px': player.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': player.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span *ngIf="player.id === clientPlayer.id" [ngStyle]="
        {
          'transform': 'rotate(' + clientPlayer.direction + 'deg)'
        }
      ">--></span>
      <span>{{player.hitPoints}}<span *ngIf="signalRService.tagPlayerId && signalRService.tagPlayerId === player.id">★</span></span>
    </div>
  </div>
  <div *ngFor="let fireball of signalRService.fireballs">
    <div class="fireball" [ngStyle]="
      {
        'margin-top.px': fireball.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': fireball.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': fireball.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': fireball.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span>O</span>
    </div>
  </div>
  <div *ngFor="let obstacle of signalRService.obstacles">
    <div class="obstacle" [ngStyle]="
      {
        'margin-top.px': obstacle.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': obstacle.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': obstacle.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': obstacle.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span></span>
    </div>
  </div>
  <div *ngIf="signalRService.tagItem && signalRService.tagItem.isInPlay">
    <div class="tag-item" [ngStyle]="
      {
        'margin-top.px': signalRService.tagItem.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': signalRService.tagItem.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': signalRService.tagItem.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': signalRService.tagItem.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span>★</span>
    </div>
  </div>
</div>
<div id="button-container" [ngStyle]="
  {
    'top.px': constants.PLAY_AREA_SIZE_Y * constants.POSITION_TO_DISPLAY_MULTIPLAYER + 25,
    'width.px': constants.PLAY_AREA_SIZE_X * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'height.px': 175
  }">
  <button class="movement-button" (click)="forwardInput()">↑</button>
  <br/>
  <button class="movement-button" (click)="turnLeft()">←</button>
  <button class="movement-button" (click)="turnRight()">→</button>
  <br/>
  <button class="movement-button" (click)="backwardInput()">↓</button>
  <br/>
  <br/>
  <button class="movement-button" (click)="cast()">Cast</button>
  <div class="stat-indicators">
    <div>
      <span [ngStyle]="
      {
        'background-color': clientPlayer.playerColor
      }">Your hit points:
      </span><strong> {{clientPlayer.hitPoints}} <span *ngIf="clientPlayer.hitPoints <= 0">Knocked out!</span></strong>
    </div>
    <div>
      <span [ngStyle]="
      {
        'background-color': 'blue',
        'color': 'white'
      }">Your energy:
      </span><strong> {{manaAmount}}</strong>
      <div>
        <span class='mana-bar mana-bar-bottom' [ngStyle]="
        {
          'width.px': constants.PLAYER_STARTING_MANA * 1.5
        }"></span>
        <span class='mana-bar mana-bar-top' [ngStyle]="
        {
          'width.px': manaAmount * 1.5
        }"></span>
      </div>
    </div>
    <br>
    <br>
    <div>
      <span>Your score: </span><strong> {{score}} / {{constants.SCORE_NEEDED_TO_WIN}}</strong>
    </div>
  </div>
</div>

<div id="server-control-button-container" [ngStyle]="
  {
    'top.px': constants.PLAY_AREA_SIZE_Y * constants.POSITION_TO_DISPLAY_MULTIPLAYER + 225,
    'width.px': constants.PLAY_AREA_SIZE_X * constants.POSITION_TO_DISPLAY_MULTIPLAYER,
    'height.px': 30
  }">
  <button (click)="signalRService.broadcastGetObstacles(true)">Generate obstacles</button>
</div>
