<span class="user-amount">Number of players: {{signalRService.connectionAmount}}</span>
<span class="refresher">{{refresher}}</span>

<div id="play-area" (keydown)="onKeyDown($event)">
  <div *ngFor="let player of signalRService.players">
    <div class="player" [ngStyle]="
      {
        'margin-top.px': player.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': player.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'background': player.hitPoints > 0 ? player.playerColor : '#333',
        'border': '1px solid ' + player.playerColor,
        'width.px': player.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': player.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span *ngIf="player.id === clientPlayer.id" [ngStyle]="
        {
          'transform': 'rotate(' + clientPlayer.direction + 'deg)'
        }
      ">--></span>
      <span>{{player.hitPoints}}</span>
    </div>
  </div>
  <div *ngFor="let fireball of signalRService.fireballs">
    <div class="fireball" [ngStyle]="
      {
        'margin-top.px': fireball.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': fireball.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': fireball.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': fireball.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span>O</span>
    </div>
  </div>
  <div *ngFor="let obstacle of signalRService.obstacles">
    <div class="obstacle" [ngStyle]="
      {
        'margin-top.px': obstacle.positionY*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'margin-left.px': obstacle.positionX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'width.px': obstacle.sizeX*constants.POSITION_TO_DISPLAY_MULTIPLAYER,
        'height.px': obstacle.sizeY*constants.POSITION_TO_DISPLAY_MULTIPLAYER
      }">
      <span></span>
    </div>
  </div>
</div>
<div id="button-container">
  <button class="movement-button" (click)="go()">↑</button>
  <br/>
  <button class="movement-button" (click)="turnLeft()">←</button>
  <button class="movement-button" (click)="turnRight()">→</button>
  <br/>
  <button class="movement-button" (click)="goBackwards()">↓</button>
  <br/>
  <br/>
  <button class="movement-button" (click)="cast()">Cast</button>
  <div class="hit-points-indicator"><span [ngStyle]="
    {
      'background-color': clientPlayer.playerColor
    }">Your hit points:</span><strong> {{clientPlayer.hitPoints}} <span *ngIf="clientPlayer.hitPoints <= 0">You're dead!</span></strong></div>
</div>

<div id="server-control-button-container">
  <button (click)="signalRService.broadcastGetObstacles(true)">Generate obstacles</button>
</div>
