.user-amount {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#play-area {
  position: absolute;
  height: 500px;
  width: 500px;
  background: #4a4;
}

#button-container {
  position: absolute;
  top: 525px;
  height: 200px;
  width: 500px;
  background: gray;
  text-align: center;
}

.movement-button {
  padding: 8px;
}

.player {
  position: absolute;
  border-radius: 15px;
  text-align: center;
}

.fireball {
  position: absolute;
  border-radius: 15px;
  text-align: center;
  background-image: linear-gradient(red, yellow);
}

.hit-points-indicator {
  text-align: left;
}

.refresher {
  position: absolute;
  bottom: 0;
  font-size: 4px;
  color: gray;
}
